@use "../../assets/sass/variables" as *;

.beer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    background-color: $color-card;
    border-radius: 15px;
    margin: 5vh;
    .beer-card__image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 60%;
        border-radius: 20px;
        background-color: $color-white;
    }
    .beer-card__name {
            color: black;
            font-size: 4vh;
            margin: 0.5rem 0rem;
    }
    .beer-card__info {
        display: flex;
        flex-direction: column;
        text-align: center;
        .beer-card__text {
            font-size: 1.6vh;
            background-color: #EFF19D
        }
    }
};