@use "../../assets/sass/_variables.scss" as *;

.nav-menu {
    background-color: $color-secondary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__cross {
        position: absolute;
        top: 20px;
        right: 50px;
    &:hover {
        cursor: pointer;
    }
    }
    &__item {
        font-size: 30px;
        text-decoration: none;
        color: $color-black;
        padding: 20px;
    }
}

@media screen and (min-width: 992px) {
    .nav-menu {
        background-color: rgba($color-black, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    &__content {
        position: relative;
        background-color: $color-secondary;
        width: 30%;
        height: 30vw;
        border-radius: 15px;
    }
        &__cross {
            right: 20px;
        }
    }
}
