@use "../../assets/sass/_variables.scss" as *;

.search-box {
    display: flex;
    flex-direction: column;
    &__label {
        font-size: 20px;
    }
    &__input {
        margin: 20px 0;
        padding: 10px;
        font-size: 18px;
        border: 5px $color-grey solid;
        border-radius: 15px;
        color: $color-black;
        &:focus {
            border: 5px $color-primary solid;
            outline: none;
        }
    }
}

@media screen and (min-width: 992px) {
    .search-box {
    &__input {
        width: calc((100% / 3) - 50px);
        }
    }
}
